# Ignore dependency folders
node_modules/
aegis-platform/node_modules
aegis-platform/packages/app/node_modules
aegis-platform/packages/backend/node_modules
aegis-platform/plugins/aegis/node_modules
venv/

# Ignore bulky local artifacts
bin/
dist/
out/
workspace-images/
terraform/
.terraform/

.bufcache/
.gocache/
.gomodcache/

# Ignore Python caches and logs
__pycache__/
.pytest_cache/
*.log
